streamlit==1.22.0
pandas==2.1.1
plotly==5.15.0
pandas-profiling==3.7.0
streamlit-pandas-profiling==0.1.7
numpy==1.24.4
matplotlib==3.8.0
seaborn==0.12.2
scikit-learn==1.3.0
nltk==3.8.1
emoji==2.2.0
wordcloud==1.9.2
nlpaug==1.5.0
sentence-transformers==2.2.2
