streamlit
pandas
plotly
pandas-profiling==3.2.0  # Adjust to a known working version
streamlit-pandas-profiling
numpy==1.24.3
matplotlib
seaborn
scikit-learn
nltk
emoji
wordcloud
nlpaug
sentence-transformers
pydantic==1.9
visions==0.7.4  
numba==0.56.4  

